@font-face {
  font-family: 'BackToBlack';
  src: url(../fonts/BacktoBlackDemo.ttf);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
}

html {
  font-size: 15px;
}

body {
  font-family: "Vidaloka", serif;
  font-size: 1rem;
}

.desIcon-1 {
  width: 40px;
  height: 40px;
  fill: #cccccc;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.desIcon-1:hover {
  fill: #ffeb3b;
}

.desIcon-2 {
  width: 36px;
  height: 36px;
  fill: #cccccc;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.desIcon-2:hover {
  fill: #ffeb3b;
}

.desIcon-3 {
  width: 34px;
  height: 34px;
  fill: #cccccc;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.desIcon-3:hover {
  fill: #ffeb3b;
}

.desIcon-4 {
  width: 40px;
  height: 40px;
  fill: #cccccc;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.desIcon-4:hover {
  fill: #ffeb3b;
}

.desIcon-5 {
  width: 43px;
  height: 43px;
  fill: #cccccc;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.desIcon-5:hover {
  fill: #ffeb3b;
}

.desIcon-6 {
  width: 40px;
  height: 40px;
  fill: #cccccc;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.desIcon-6:hover {
  fill: #ffeb3b;
}

.stats-1 {
  width: 48px;
  height: 48px;
  margin-bottom: 52px;
}

.stats-2 {
  width: 47px;
  height: 47px;
  padding-bottom: 1px;
  margin-bottom: 52px;
}

.stats-3 {
  width: 47px;
  height: 47px;
  margin-bottom: 52px;
  padding-bottom: 6px;
}

.stats-4 {
  width: 47px;
  height: 47px;
  padding-bottom: 6px;
  margin-bottom: 52px;
}

.header {
  background: #000 url(../img/header-bg.jpg) no-repeat center/cover;
  height: 100vh;
  padding-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (-webkit-appearance: none) {
  .header {
    background: #000 url(../img/header-bg.webp) no-repeat center/cover;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.header__links {
  list-style-type: none;
}

.header__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 0 48px 0;
  color: #fff !important;
  text-decoration: none !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__link:hover {
  color: #ffeb3b !important;
  border-bottom: 1px solid #ffeb3b;
}

.header__btn {
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  cursor: pointer;
  border: none;
  border-left: 1px solid #fff;
  padding-left: 23px;
}

.header__btn:focus {
  outline: none;
}

.header__search {
  width: 15px;
  height: 15px;
}

.header .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__text {
  font-weight: 400;
  font-family: "BacktoBlack";
  color: #fff;
}

.header__suptitle {
  font-size: 110px;
}

.header__title {
  font-size: 280px;
  line-height: 280px;
}

.nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 33px;
}

:-ms-fullscreen,
:root .header {
  display: block;
}

:-ms-fullscreen,
:root .header .main {
  padding: 15% 0;
}

.description {
  padding-top: 109px;
  padding-bottom: 66px;
}

.description__title {
  color: #333333;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 155px;
}

.description__span {
  color: #ffeb3b;
  text-decoration: underline;
}

.desBlock .desItem {
  margin-bottom: 101px;
}

.desBlock .desItem .desText {
  padding-left: 30px;
  border-left: 1px solid #f1f1f1;
  margin-left: 30px;
}

.desBlock .desItem .desText .desTitle {
  color: #313131;
  font-family: "Vidaloka", serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.6px;
  margin-bottom: 30px;
}

.desBlock .desItem .desText .desSubtitle {
  color: #969595;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.52px;
  margin-bottom: -4px;
}

.desItem:hover .desIcon-1 {
  fill: #ffeb3b;
}

.desItem:hover .desIcon-2 {
  fill: #ffeb3b;
}

.desItem:hover .desIcon-3 {
  fill: #ffeb3b;
}

.desItem:hover .desIcon-4 {
  fill: #ffeb3b;
}

.desItem:hover .desIcon-5 {
  fill: #ffeb3b;
}

.desItem:hover .desIcon-6 {
  fill: #ffeb3b;
}

.stats {
  padding: 92px 0;
  background: #000 url(../img/stats-bg.jpg) no-repeat center;
  background-size: cover;
}

.stats__number {
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 54px;
}

.stats__title {
  color: #ffeb3b;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}